In [1]:
import pandas as pd

In [4]:
pd.read_csv('X_train')

,Segment_ID,Phrase,clip,ID
0,2453226,But (uhh) so yeah,6,245322
1,8879712,The movie ruins it for itself,12,88797
2,1378276,"(umm) The acting's subpar, the screen the scr...",6,137827
3,3MFNIag0wNE9,"And now, because of that, Machinima got intimi...",9,3MFNIag0wNE
4,3sUS8vXbRwg14,I thought something would have to descend on m...,14,3sUS8vXbRwg
...,...,...,...,...
10837,faUvT7zfsyk2,"When we're talking about a verb, a verb can ha...",2,faUvT7zfsyk
10838,Ja7phs8EbWk11,"If you are continuing at OSU, I hope you have ...",11,Ja7phs8EbWk
10839,R0uRDh-engU5,"I come in and I say ""Okay, hi everybody I'm go...",5,R0uRDh-engU
10840,T-8TvJcS78w7,"This time, in the birthplace of modern innovat...",7,T-8TvJcS78w
10841,1001787,I think Steve Martin's done other better things,7,100178

In [5]:
pd.read_csv('y_train')

       Answer.sentiment     Segment_ID
0              0.333333        2453226
1             -0.333333        8879712
2             -2.666667        1378276
3             -1.333333   3MFNIag0wNE9
4              2.000000  3sUS8vXbRwg14
...                 ...            ...
10837          1.000000   faUvT7zfsyk2
10838          2.666667  Ja7phs8EbWk11
10839         -0.333333   R0uRDh-engU5
10840          1.333333   T-8TvJcS78w7
10841         -0.666667        1001787

[10842 rows x 2 columns]